button{
    height: 43px;
    outline: none;
    border-radius: 15px 0 15px 0;
    color: var(--font--button--color);
    background-color: var(--font--button--background--color);
    text-transform: uppercase;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button:hover{
    cursor: pointer;
}

.btn_full{
    width: min(100%,350px);

}

.btn_medium{
    width: min(100%,250px);

}

.btn_small{
    width: min(100%,150px);

}