table{
    width: 100%;
    height: auto;
    border: 1px solid rgb(227, 221, 221);
    text-align: justify;

}

thead{
    background-color: rgb(230, 225, 225);
    color: rgb(127, 125, 125);
}

td,th{
    border-bottom: 1px solid gray;
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-size: 11px;


}

tr{
    border:  1px solid  rgb(227, 221, 221);
}


.sync-btn{
    margin-top: 19%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button.btn_full {
    background:rgb(82, 208, 208);
    height: 100px;
    width: auto;
    padding: 0.43rem 0.43rem;
    color: black;
    letter-spacing: 1.2px !important;
    font-size: 1.6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 2.2rem;
}