.home_layout {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 792px) {
    .home_layout {
        width: 600px;
        display: flex;
        flex-direction: column;
        height: max-content;
        margin: 0 auto;
    }
}

@media screen and (max-width: 620px) {
    .home_layout {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}